@import "../CSS/Universal.css";

.erc-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 25px 22px;
}

.erc-body h1,
.erc-body p {
    padding: 0;
    margin: 0;
    line-height: 3rem;
    color: var(--font-color);
}

.erc-input {
    margin: 20px 0 0 0;
    width: 60%;
    padding: 15px 22px 20px;
}

.input-form {
    display: flex;
    align-items: center;
    border-radius: 32px;
    background: #fff;
    outline: 1px solid black;
}

.input-footer .input-form:focus-within {
    outline: 2px solid var(--hover-highlight-navbar-color);
}

.input-form .message-input {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    height: 47px;
    padding: 0 17px;
    font-size: 0.95rem;
}

.input-form button {
    display: none;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 35px;
    width: 35px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.1re,;
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 6px;
    background: var(--background);
    transition: .2s ease;
}

.input-form button:hover {
    background: yellowgreen;
}

.input-form .message-input:valid~button {
    display: flex;
}