@import "../CSS/Universal.css";

.erc-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100dvh;
    padding: 25px 22px;
}

.erc-body h1.heading,
.erc-body p.heading {
    padding: 0;
    margin: 0;
    line-height: 3rem;
    color: var(--font-color);
}

.erc-input {
    margin: 20px 0 0 0;
    width: 60%;
    padding: 15px 22px 20px;
}

.input-form {
    display: flex;
    align-items: center;
    border-radius: 32px;
    background: #fff;
    outline: 1px solid black;
}

.input-footer .input-form:focus-within {
    outline: 2px solid var(--hover-highlight-navbar-color);
}

.input-form .message-input {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    height: 47px;
    padding: 0 17px;
    font-size: 0.95rem;
}

.input-form button {
    display: none;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 35px;
    width: 35px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.1re, ;
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 6px;
    background: var(--background);
    transition: .2s ease;
}

.input-form button:hover {
    background: yellowgreen;
}

.input-form .message-input:valid~button {
    display: flex;
}

/* ---------card----------- */

.output-container {
    display: flex;
    flex: 1;
    min-height: 0;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    max-width: 100%;
    padding-bottom: 4rem;
    position: relative;
}

.output-container .status {
    position: sticky;
    width: 70%;
    top: 0;
    left: 0;
    z-index: 1;
    line-height: 2rem !important;
    background: rgba(var(--background-rgb), 0.5);
}

.card {
    border: 1px solid var(--font-color);
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(--font-color);
    background: var(--font-color);
    padding: 20px;
    margin-top: 20px;
    text-align: start;
    width: 70%;
    display: inline-block;
    position: relative;
}

.card .card-title {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

.card .card-content {
    margin: 0;
    padding: 0;
    font-size: .95rem;
    text-overflow: ellipsis;
}

.card .card-summary {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.card .card-download {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-50%, 50%);
}

.card:hover {
    cursor: pointer;    
    transform: scale(1.01);
    background: var(--navbar-color);
    color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(--hover-highlight-navbar-color);
    animation: card-hover 0.5s ease;
}

@keyframes card-hover {
    0% {
        background: var(--font-color);
        color: var(--background);
    }   
    100% {
        background: var(--navbar-color);
        color: var(--font-color);
    }
}