.page {
    width: 100dvw;
    height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto; 
    box-sizing: border-box;
    position: relative;
    background-color: antiquewhite;
}

.home-container {
    display: grid;
    grid-template-columns: 20% auto 1fr;
    position: relative;
}

.home-container .section {
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

#section-1 ul{
    width: 100%;
    padding: 10px 0px 0 0;
    margin:0 10px 0 10px;
    list-style: none;
}

#section-1 li {
    padding: 10px 15px 10px 15px;
}

#section-1 li:hover {
    background-color: greenyellow;
    color: #333;
    border-radius: 10px;
}

#section-1 li.selected {
    width: auto;
    white-space: nowrap;
    border-radius: 10px;
    color: #fff;
    background-color: orange;
}