.ocr-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.ocr-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    line-height: 2rem;
    font-size: .95rem;
}

.ocr-center h1,
.ocr-center p {
    margin: 0;
    padding: 0;
}

.ocr-center button {
    margin: 12px 0 0 0;
}

.ocr-result {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    width: 100%;
    white-space: pre-wrap;
}

.ocr-result pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    background: #f8f9fa;
    padding: 1rem;
    border-radius: 8px;
    /* line-height: 1.5; */
    max-height: 400px;
    overflow-y: auto;
}